.detail-pagination {
    padding-top: 1rem;
    padding-bottom: 2rem;
    margin: 0 auto !important;
    display: block;
    text-align: center;
    border-radius: 4px;
    padding-left: 0;
    font-family: $ROBOTO-REGULAR;
    @include fontSize(13);
    .pagination {
        font-family: $ROBOTO-REGULAR;
        justify-content: center;
    }
    .page {
        font-family: $ROBOTO-REGULAR;
        font-size: 13px;
        display: inline-block;
        background-color: $primary_color;
        margin-right: 5px;
        min-width: 32px;
        line-height: 18px;
        text-align: center;
        padding: 6px 10px;
        color: $primary_color_text;
        cursor: pointer;
        border: thin solid rgba(0, 0, 0, .1);
        margin-bottom: 5px;
        .fas {
            color: $primary_color_text;
        }
    }
    .page:hover {
        background: $primary_color_hover;
        color: $primary_color_text;
        transition: 0.2s all ease;
        text-decoration: none;
        .pagination-other-current--link {
            color: $primary_color_text_hover;
        }
        .icon {
            color: $primary_color_text_hover;
        }
    }
    .page:focus {
        outline: thin dotted;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
        background-color: $primary_color;
        color: $primary_color_text;
    }
    .active {
        background: $primary_color;
        color: $primary_color_text;
        &:hover {
            background-color: $primary_color_hover;
            color: $primary_color_text_hover;
            .icon {}
        }
    }
}

.pagination-other-current--link {
    color: $primary_color_text;
    &:hover {
        color: $primary_color_text_hover !important;
    }
}